   {% load static %} 
    <div class="agiletopbar">
            <div class="wthreenavigation">
                <div class="menu-wrap">
                <nav class="menu">
                    <div class="icon-list">
                        <a href=" {% static 'mobiles.html' %} "><i class="fas fa-baby"></i><span>Child</span></a>
                        <a href=" {% static 'electronics-appliances.html' %} "><i class="fas fa-male"></i><span>Young</span></a>
                        <a href=" {% static 'cars.html' %} "><i class="far fa-meh"></i><span>Adult</span></a>
                        <a href=" {% static 'bikes.html' %} "><i class="fal fa-hiking"></i><span>Old</span></a>
                        <a href=" {% static 'furnitures.html' %} "><i class="fa fa-fw fa-wheelchair"></i><span>Oldest</span></a>
                        <a href=" {% static 'pets.html' %} "><i class="fal fa-hiking"></i><span>Bode-Pain</span></a>
                        <a href=" {% static 'books-sports-hobbies.html' %} "><i class="fa fa-fw fa-book"></i><span>Dibities</span></a>
                        <a href=" {% static 'fashion.html' %} "><i class="fal fa-running"></i><span>Cancer</span></a>
                        <a href=" {% static 'kids.html' %} "><i class="fa fa-fw fa-asterisk"></i><span>Corona</span></a>
                        <a href=" {% static 'services.html' %} "><i class="fa fa-fw fa-asterisk"></i><span>Fever</span></a>
                        <a href=" {% static 'jobs.html' %} "><i class="fas fa-user-friends"></i><span>Cooling</span></a>
                        <a href=" {% static 'real-estate.html' %} "><i class="fas fa-user-circle"></i><span>Headach</span></a>
                    </div>
                </nav>
                <button class="close-button" id="close-button">Close Menu</button>
            </div>
            <button class="menu-button" id="open-button"> </button>
            </div>
            <div class="clearfix"></div>
        </div>