{% extends "../base/base.html" %}
{% load static %} 
{% block content %}
		<!-- Navigation -->
	{% include "base/nav-main.html" %}
		<!-- //Navigation -->
	<!-- header -->
		{% include "base/header.html" %}
	<!-- //header -->
	<!-- Slider -->
		<div class="slider">
			<ul class="rslides" id="slider">
				<li>
					<div class="w3ls-slide-text">
						<h3>ALL FIT</h3>
						<a href=" {% url 'dietapp:alltype' %} " class="w3layouts-explore-all">Browse all Categories</a>
					</div>
				</li>
				<li>
					<div class="w3ls-slide-text">
						<h3>Find the Best Deals Here</h3>
						<a href=" {% static 'categories.html' %} " class="w3layouts-explore">Explore</a>
					</div>
				</li>
				<li>
					<div class="w3ls-slide-text">
						<h3>Lets build the home of your dreams</h3>
						<a href=" {% static 'real-estate.html' %} " class="w3layouts-explore">Explore</a>
					</div>
				</li>
				<li>
					<div class="w3ls-slide-text">
						<h3>Find your dream ride</h3>
						<a href=" {% static 'bikes.html' %} " class="w3layouts-explore">Explore</a>
					</div>
				</li>
				<li>
					<div class="w3ls-slide-text">
						<h3>The Easiest Way to get a Job</h3>
						<a href=" {% static 'jobs.html' %} " class="w3layouts-explore">Find a Job</a>
					</div>
				</li>
			</ul>
		</div>
		<!-- //Slider -->
		<!-- content-starts-here -->
		<div class="main-content">
			<div class="w3-categories">
				<h3>Browse Categories</h3>
				<div class="container">
					<div class="col-md-3">
						<div class="focus-grid w3layouts-boder1">
							<a class="btn-8" href='{% url "dietapp:alltype"  %}'>
								<div class="focus-border">
									<div class="focus-layout">
										<div class="focus-image"><i class='fas fa-apple-alt' style='font-size:24px'></i></div>
										<h4 class="clrchg">Diet for an Infant</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="focus-grid w3layouts-boder2">	
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab2' %} ">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class='fas fa-carrot' style='font-size:48px;color:green'></i></div>
									<h4 class="clrchg"> Diet for a Growing Child</h4>
								</div>
							</div>
						</a>
					</div>
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder3">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab3' %} ">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class='fas fa-leaf' style='font-size:48px;color:red'></i></div>
									<h4 class="clrchg">Diet for Pregnant and Lactating Mother</h4>
								</div>
							</div>
						</a>
					</div>	
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder4">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab4' %} ">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class='fas fa-lemon' style='font-size:48px;color:yellow'></i></div>
									<h4 class="clrchg">Diet for an Adult Male & Female</h4>
								</div>
							</div>
						</a>
					</div>	
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder5">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab5' %} ">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class='far fa-lemon' style='font-size:48px;color:black'></i></div>
									<h4 class="clrchg">Diet for Elderly People</h4>
								</div>
							</div>
						</a>
					</div>
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder6">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab6' %} ">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class='fas fa-pepper-hot' style='font-size:48px;color:gold'></i></div>
									<h4 class="clrchg">Vegetarians</h4>
								</div>
							</div>
						</a>
					</div>	
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder7">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab7' %} ">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class='fas fa-seedling' style='font-size:48px;color:silver'></i>
									</div>
									<h4 class="clrchg">Non-Vegetarians</h4>
								</div>
							</div>
						</a>
					</div>	
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder8">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab8' %} ">
							<div class="focus-border">
								<div class="focus-layout">
							<div class="focus-image"><i class='fas fa-carrot' style='font-size:48px;color:pink'></i></div>
									<h4 class="clrchg">Dairy products</h4>
								</div>
							</div>
						</a>
					</div>	
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder9">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab9' %} ">
							<div class="focus-border">
								<div class="focus-layout">
							<div class="focus-image"><i class='fas fa-apple-alt' style='font-size:48px;color:orange'></i></div>
									<h4 class="clrchg">Healthy Cooking Practices</h4>
								</div>
							</div>
						</a>
					</div>	
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder10">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab10' %} ">
							<div class="focus-border">
								<div class="focus-layout">
								<div class="focus-image"><i class='fas fa-leaf' style='font-size:48px;color:green'></i></div>
									<h4 class="clrchg">Diet and Weight Management</h4>
								</div>
							</div>
						</a>
					</div>
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder11">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab11' %} ">
							<div class="focus-border">
								<div class="focus-layout">
								<div class="focus-image"><i class='fas fa-apple-alt' style='font-size:48px;color:red'></i></div>
									<h4 class="clrchg">Vegetable Oils</h4>
								</div>
							</div>
						</a>
					</div>
					</div>
					<div class="col-md-3">
					<div class="focus-grid w3layouts-boder12">
						<a class="btn-8" href=" {% static 'categories.html#parentVerticalTab12' %} ">
							<div class="focus-border">
								<div class="focus-layout">
								<div class="focus-image"><i class='fas fa-carrot' style='font-size:48px;color:blue'></i></div>
									<h4 class="clrchg">Some common Indian food beliefs, fads and taboos./h4>
								</div>
							</div>
						</a>
					</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- most-popular-ads -->
			<div class="w3l-popular-ads">  
				<h3>Diet for an Adult Male & Female</h3>
				 <div class="w3l-popular-ads-info">

					<div class="col-md-4 w3ls-portfolio-left">
						<div class="portfolio-img event-img">
							<img src=" {% static 'images/orange.jpg' %} " class="img-responsive" alt=""/>
							 <div class="over-image"></div>
						</div>
						<div class="portfolio-description">
						   <h4><a href=" {% static 'jobs.html' %} ">BPO jobs</a></h4>
						   <p>Suspendisse placerat mattis arcu nec por</p>
							<a href=" {% static 'jobs.html' %} ">
								<span>Explore</span>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls-portfolio-left">
						<div class="portfolio-img event-img">
							<img src=" {% static 'images/water.jpg' %} " class="img-responsive" alt=""/>
							 <div class="over-image"></div>
						</div>
						<div class="portfolio-description">
						   <h4><a href=" {% static 'electronics-appliances.html' %} ">Accessories</a></h4>
						   <p>Suspendisse placerat mattis arcu nec por</p>
							<a href=" {% static 'electronics-appliances.html' %} ">
								<span>Explore</span>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
										<div class="col-md-4 w3ls-portfolio-left">
						<div class="portfolio-img event-img">
							<img src=" {% static 'images/apple.jpg' %} " class="img-responsive" alt=""/>
							 <div class="over-image"></div>
						</div>
						<div class="portfolio-description">
						   <h4><a href=" {% static 'electronics-appliances.html' %} ">Accessories</a></h4>
						   <p>Suspendisse placerat mattis arcu nec por</p>
							<a href=" {% static 'electronics-appliances.html' %} ">
								<span>Explore</span>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls-portfolio-left">
						<div class="portfolio-img event-img">
							<img src=" {% static 'images/mufins.jpg' %} " class="img-responsive" alt=""/>
							 <div class="over-image"></div>
						</div>
						<div class="portfolio-description">
						   <h4><a href=" {% static 'furnitures.html' %} ">Home Appliances</a></h4>
						   <p>Suspendisse placerat mattis arcu nec por</p>
							<a href=" {% static 'furnitures.html' %} ">
								<span>Explore</span>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls-portfolio-left">
						<div class="portfolio-img event-img">
							<img src=" {% static 'images/carrot.jpg' %} " class="img-responsive" alt=""/>
							 <div class="over-image"></div>
						</div>
						<div class="portfolio-description">
						   <h4><a href=" {% static 'fashion.html' %} ">Clothing</a></h4>
						   <p>Suspendisse placerat mattis arcu nec por</p>
							<a href=" {% static 'fashion.html' %} ">
								<span>Explore</span>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
															<div class="col-md-4 w3ls-portfolio-left">
						<div class="portfolio-img event-img">
							<img src=" {% static 'images/a11.jpg' %} " class="img-responsive" alt=""/>
							 <div class="over-image"></div>
						</div>
						<div class="portfolio-description">
						   <h4><a href=" {% static 'electronics-appliances.html' %} ">Accessories</a></h4>
						   <p>Suspendisse placerat mattis arcu nec por</p>
							<a href=" {% static 'electronics-appliances.html' %} ">
								<span>Explore</span>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				 </div>
			 </div>
			<!-- most-popular-ads -->									
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
				<div class="agile-trend-ads">
					<h2>Healthy Meals</h2>
							<ul id="flexiselDemo3">
								<li>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/MANGO.jpg' %} " alt="" />
											<span class="price">&#36; 450</span>
										</a> 
										<div class="w3-ad-info">
											<h5>Nutrition is important for everyones</h5>
											<span>100 gm</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/pea.jpg' %} " alt="" />
											<span class="price">&#36; 399</span>
										</a> 
										<div class="w3-ad-info">
											<h5>Energy rich foods</h5>
											<span>200 Cal</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/sta.jpg' %} " alt="" />
											<span class="price">&#36; 199</span>
										</a> 
										<div class="w3-ad-info">
											<h5>Protective foods (Vitamins and minerals)</h5>
											<span>8 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/salad.jpg' %} " alt="" />
											<span class="price">&#36; 159</span>
										</a> 
										<div class="w3-ad-info">
											<h5>Body building foods (Proteins)- Pulses, nuts and oilseeds, milk</h5>
											<span>19 hour ago</span>
										</div>
									</div>
								</li>
								<li>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/milk.jpeg' %} " alt="" />
											<span class="price">&#36; 1599</span>
										</a> 
										<div class="w3-ad-info">
											<h5>Energy rich foods (Carbohydrates and fats)-whole grain cereals</h5>
											<span>1 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/apple.jpg' %} " alt="" />
											<span class="price">&#36; 1099</span>
										</a> 
										<div class="w3-ad-info">
											<h5>passage of Lorem Ipsum you need to be</h5>
											<span>1 day ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/orange.jpg' %} " alt="" />
											<span class="price">&#36; 109</span>
										</a> 
										<div class="w3-ad-info">
											<h5>It is a long established fact that a reader</h5>
											<span>9 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/pizza.jpg' %} " alt="" />
											<span class="price">&#36; 189</span>
										</a> 
										<div class="w3-ad-info">
											<h5>Lorem Ipsum is simply dummy</h5>
											<span>3 hour ago</span>
										</div>
									</div>
								</li>
								<li>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/carrot.jpg' %} " alt="" />
											<span class="price">&#36; 2599</span>
										</a> 
										<div class="w3-ad-info">
											<h5>Lorem Ipsum is simply dummy</h5>
											<span>3 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/pump.jpg' %} " alt="" />
											<span class="price">&#36; 3999</span>
										</a> 
										<div class="w3-ad-info">
											<h5>It is a long established fact that a reader</h5>
											<span>9 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/water.jpg' %} " alt="" />
											<span class="price">&#36; 2699</span>
										</a> 
										<div class="w3-ad-info">
											<h5>passage of Lorem Ipsum you need to be</h5>
											<span>1 day ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href=" {% static 'single.html' %} ">
											<img src=" {% static 'images/pine.jpg' %} " alt="" />
											<span class="price">&#36; 899</span>
										</a> 
										<div class="w3-ad-info">
											<h5>There are many variations of passages</h5>
											<span>1 hour ago</span>
										</div>
									</div>
								</li>
						</ul>
					</div>   
			</div>
			<!-- //slider -->				
			</div>
			<!--partners-->
			<div class="w3layouts-partners">
				<h3>Our Partners</h3>
					<div class="container">
						<ul>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-1.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-2.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-3.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-4.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-5.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-6.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-7.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-8.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-9.png' %} " alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src=" {% static 'images/p-10.png' %} " alt=""></a></li>	
						</ul>
					</div>
				</div>	
		<!--//partners-->	
		<!-- mobile app -->
			<div class="agile-info-mobile-app">
				<div class="container">
					<div class="col-md-5 w3-app-left">
						<a href=" {% static 'mobileapp.html' %} "><img src=" {% static 'images/pap.jpg' %} " alt=""></a>
					</div>
					<div class="col-md-7 w3-app-right">
						<h3> Healthy Diet <span>Easiest</span>Humans need a wide range of nutrients to lead a healthy and active life</h3>
						<p>A healthy diet consumed throughout the life-course helps in preventing malnutrition in all its forms as well as wide range of non-communicable diseases (NCDs) and conditions. But rapid urbanization/globalization, increased consumption of processed foods and changing lifestyles has led to a shift in dietary patterns..</p>
					
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //mobile app -->
		</div>
		<!--footer section start-->		
	  {% include "base/footer.html" %}
        <!--footer section end-->
{% endblock %}